<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Preguntas Frecuentes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Realizar una Reservación
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#realizarUno">¿Cómo realizo una reservación?</a>
                                        </h4>
                            </div>
                            <div id="realizarUno" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Tiene que dirijirse al panel izquierdo de la página y seleccionar la pestaña de reservaciones. Dentro de ella seleccione la opción de "Realizar Reservación" para hacer la misma.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#realizarDos">¿Cómo selecciono una habitación?</a>
                                        </h4>
                            </div>
                            <div id="realizarDos" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Una vez dentro de la página de reservaciones, puede indicar un rango de precios y si desea que su habitación sea 'Simple', 'Doble' o 'Triple'. Al seleccionar el botón de "Buscar Habitaciones", se mostrarán las habitaciones que cumplan con sus necesidades para que pueda seleccionar la que usted guste.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#realizarTres">¿Qué datos debo ingresar para registrar mi reservación?</a>
                                        </h4>
                            </div>
                            <div id="realizarTres" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Una vez que seleccionó su habitación, deberá indicar los siguiente datos. Nombres, Apellidos, Cédula, Email, Dirección y Teléfono. Además, puede indicar el número de acompañantes que va a tener. Finalmente debe indicar un número de tarjeta válido.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ver Detalles de una Reservación
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#detallesUno">Pregunta 1</a>
                                        </h4>
                            </div>
                            <div id="detallesUno" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#detallesDos">Pregunta 2</a>
                                        </h4>
                            </div>
                            <div id="detallesDos" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#detallesTres">Pregunta 3</a>
                                        </h4>
                            </div>
                            <div id="detallesTres" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cancelar una Reservación
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#cancelarUno">Pregunta 1</a>
                                        </h4>
                            </div>
                            <div id="cancelarUno" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#cancelarDos">Pregunta 2</a>
                                        </h4>
                            </div>
                            <div id="cancelarDos" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#cancelarTres">Pregunta 3</a>
                                        </h4>
                            </div>
                            <div id="cancelarTres" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">Pendiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
