<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Hotel</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hotel Patrick Chung
                </div>
                <div class="panel-body">
                    <p align="justify">Uno de los hoteles mas importantes en Zacatlan. Nuestro hotel cuenta con gran variedad de habitaciones. Si desea realizar una reserva, por favor dir√≠jase a la p√°gina adecuada seleccion√°ndola en el panel izquierdo.</p>
                </div>
                <div class="panel-footer">
                    Administraci√≥n
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Lugares turisticos en Zacatlan
                </div>
                <div class="panel-body">
                    <p align="justify">A una cuadra del hotel se encuentra la zona centro donde ubicamos el palacio municipal, reloj floral, la parroquia de San Pedro y San Pablo, monumento a don Pedro Escobedo.</p>
                </div>
                <div class="panel-footer">
                    Turismo de Zacatlan
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Lugares turisticos en Zacatlan
                </div>
                <div class="panel-body">
                    <p align="justify">Despues de visiatr la Zona Centro, a una cuadra encontramos el museo de vino y varias fabricas de relojes monumentales como lo son relojes Centenario, relojes Olvera y relojes RicaÒo.</p>
                </div>
                <div class="panel-footer">
                    Turismo de Zacatlan
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Lugares a visitar en Zacatlan
                </div>
                <div class="panel-body">
                    <p align="justify">Un lugar que deben de visitar en su llegada a Zacatlan es la zona del paseo de la barranca donde encontraremos los famoso vitromurales, encontrandose a 3 cuadras del hotel.</p>
                </div>
                <div class="panel-footer">
                    Turismo de Zacatlan.
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->